.table-container {
  max-width: 100%;
  overflow-x: auto;
}

.bus-table {
  width: 100%;
  border-collapse: collapse;
}

.bus-table th,
.bus-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
  cursor: pointer;
}

.bus-table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.bus-table tr:hover {
  background-color: #f1f1f1;
  cursor: pointer;
  color: black;
}

.action-button {
  margin-top: 16px;
  padding: 10px 20px;
  border: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

.action-button:hover {
  background-color: #0056b3;
  color: black;
}

.filters input {
  margin: 5px;
  padding: 5px;
  width: 200px;
}

.button-agree {
  display: block;
  margin: auto;
  margin-top: 10px;
}
